:root {
  --space-default: 8px;
  --space-half: calc(var(--space-default) / 2);
  --space-plus: calc(var(--space-default) * 1.5);
  --space-2x: calc(var(--space-default) * 2);
  --space-3x: calc(var(--space-default) * 3);
  --space-4x: calc(var(--space-default) * 4);
  --space-5x: calc(var(--space-default) * 5);
  --space-6x: calc(var(--space-default) * 6);
  --space-7x: calc(var(--space-default) * 7);
  --space-8x: calc(var(--space-default) * 8);
  --space-9x: calc(var(--space-default) * 9);
  --space-10x: calc(var(--space-default) * 10);
  --space-11x: calc(var(--space-default) * 11);
  --space-12x: calc(var(--space-default) * 12);
  --space-13x: calc(var(--space-default) * 13);
  --space-14x: calc(var(--space-default) * 14);

  --border-radius-default: var(--space-default);
  --border-radius-half: calc(var(--space-default) / 2);
  --border-radius-plus: calc(var(--space-default) * 1.5);
  --border-radius-2x: calc(var(--space-default) * 2);

  --btn-border-width: 2px;
  --btn-radius: 1000px;

  --btn-default-font-size: 18px;
  --btn-default-font-size-small: 18px;
  --btn-default-font-size-large: 20px;

  --btn-default-font-size-mobile: 16px;
  --btn-default-font-size-small-mobile: 16px;
  --btn-default-font-size-large-mobile: 18px;

  --color-link: #007bff;
  --color-text: #45494F;
  --color-background: #ffffff;

  .theme-gray {
    --color-text: #45494F;
    --color-background: #ffffff;
    --color-header-background: #f2f2f2;
    --color-about-background: #f2f2f2;
    --color-contact-background: #45494F;
    --color-contact-text: #ffffff;
    --color-loading-segment: #45494F;
    --color-loading-path: #dbdbdb;
    --color-link: #45494F;
    --color-warning: #a87300;
    --color-error: #c72424;
    --color-error-light: #e9d6db;
    --color-success: #008d57;
    --color-success-light: #ccece0;
    --color-border: #c4cacf;
    --color-highlight-text: #ffffff;
    --color-highlight-background: #45494F;
    --color-highlight-light: #f2f2f2;
    --color-background-hover: #f2f2f2;
    --color-btn-text: #45494F;
    --color-btn-background: transparent;
    --color-btn-border: #45494F;
    --color-btn-hover-text: #ffffff;
    --color-btn-hover-background: #70747a;
    --color-btn-hover-border: #70747a;
    --color-btn-disabled-text: #afafaf;
    --color-btn-disabled-background: #e9e9e9;
    --color-btn-disabled-border: #e9e9e9;
    --color-btn-primary-text: #ffffff;
    --color-btn-primary-background: #45494F;
    --color-btn-primary-border: #45494F;
    --color-btn-primary-hover-text: #ffffff;
    --color-btn-primary-hover-background: #1d2024;
    --color-btn-primary-hover-border: #1d2024;
    --color-btn-secondary-text: #3d64a0;
    --color-btn-secondary-background: transparent;
    --color-btn-secondary-border: #3d64a0;
    --color-btn-secondary-hover-text: #ffffff;
    --color-btn-secondary-hover-background: #3d64a0;
    --color-btn-secondary-hover-border: #3d64a0;
    &-inverted {
      --color-text: #ffffff;
      --color-background: #45494F;
      --color-header-background: #45494F;
      --color-about-background: #65696e;
      --color-contact-background: #26292e;
      --color-contact-text: #ffffff;
      --color-loading-segment: #f2f2f2;
      --color-loading-path: #787c81;
      --color-link: #ffffff;
      --color-warning: #ffbc02;
      --color-error: #fdcaca;
      --color-error-light: #e9d6db;
      --color-success: #3cfcb2;
      --color-success-light: #ccece0;
      --color-border: #becbdf;
      --color-highlight-text: #ffffff;
      --color-highlight-background: #45494F;
      --color-highlight-light: #63666b;
      --color-background-hover: #34373b;
      --color-btn-text: #ffffff;
      --color-btn-background: transparent;
      --color-btn-border: #ffffff;
      --color-btn-hover-text: #34373b;
      --color-btn-hover-background: #ffffff;
      --color-btn-hover-border: #ffffff;
      --color-btn-disabled-text: #c2cedf;
      --color-btn-disabled-background: #94a3bd;
      --color-btn-disabled-border: #94a3bd;
      --color-btn-primary-text: #34373b;
      --color-btn-primary-background: #ffffff;
      --color-btn-primary-border: #ffffff;
      --color-btn-primary-hover-text: #34373b;
      --color-btn-primary-hover-background: #dddfe4;
      --color-btn-primary-hover-border: #ffffff;
      --color-btn-secondary-text: #ffffff;
      --color-btn-secondary-background: #e99700;
      --color-btn-secondary-border: #e99700;
      --color-btn-secondary-hover-text: #ffffff;
      --color-btn-secondary-hover-background: #ffb121;
      --color-btn-secondary-hover-border: #ffb121;
    }
  }

  .theme-light-blue {
    --color-text: #415b85;
    --color-background: #ffffff;
    --color-header-background: #ffffff;
    --color-about-background: #eff2f7;
    --color-contact-background: #2f5a9e;
    --color-contact-text: #ffffff;
    --color-loading-segment: #4072C3;
    --color-loading-path: #eff2f7;
    --color-link: #4072C3;
    --color-warning: #8f6200;
    --color-error: #c72424;
    --color-error-light: #e9d6db;
    --color-success: #006b42;
    --color-success-light: #ccece0;
    --color-border: #86a4d3;
    --color-highlight-text: #ffffff;
    --color-highlight-background: #41526b;
    --color-highlight-light: #eff2f7;
    --color-background-hover: #ebf0fc;
    --color-btn-text: #4072C3;
    --color-btn-background: transparent;
    --color-btn-border: #4072C3;
    --color-btn-hover-text: #ffffff;
    --color-btn-hover-background: #4072C3;
    --color-btn-hover-border: #4072C3;
    --color-btn-disabled-text: #5f6e85;
    --color-btn-disabled-background: #dde1e7;
    --color-btn-disabled-border: #dde1e7;
    --color-btn-primary-text: #ffffff;
    --color-btn-primary-background: #4072C3;
    --color-btn-primary-border: #4072C3;
    --color-btn-primary-hover-text: #ffffff;
    --color-btn-primary-hover-background: #2353a0;
    --color-btn-primary-hover-border: #2353a0;
    --color-btn-secondary-text: #41526b;
    --color-btn-secondary-background: transparent;
    --color-btn-secondary-border: #41526b;
    --color-btn-secondary-hover-text: #ffffff;
    --color-btn-secondary-hover-background: #2e4261;
    --color-btn-secondary-hover-border: #2e4261;
    &-inverted {
      --color-text: #ffffff;
      --color-background: #4072C3;
      --color-header-background: #4072C3;
      --color-about-background: #29559c;
      --color-contact-background: #223046;
      --color-contact-text: #ffffff;
      --color-loading-segment: #29559c;
      --color-loading-path: #ffbc02;
      --color-link: #ffffff;
      --color-warning: #ffbc02;
      --color-error: #fdcaca;
      --color-error-light: #e9d6db;
      --color-success: #a0fdd9;
      --color-success-light: #ccece0;
      --color-border: #becbdf;
      --color-highlight-text: #ffffff;
      --color-highlight-background: #41526b;
      --color-highlight-light: #29559c;
      --color-background-hover: #29559c;
      --color-btn-text: #ffffff;
      --color-btn-background: transparent;
      --color-btn-border: #ffffff;
      --color-btn-hover-text: #4072C3;
      --color-btn-hover-background: #ffffff;
      --color-btn-hover-border: #ffffff;
      --color-btn-disabled-text: #c2cedf;
      --color-btn-disabled-background: #94a3bd;
      --color-btn-disabled-border: #94a3bd;
      --color-btn-primary-text: #2353a0;
      --color-btn-primary-background: #ffffff;
      --color-btn-primary-border: #ffffff;
      --color-btn-primary-hover-text: #2353a0;
      --color-btn-primary-hover-background: #c9dcfc;
      --color-btn-primary-hover-border: #ffffff;
      --color-btn-secondary-text: #ffffff;
      --color-btn-secondary-background: #e99700;
      --color-btn-secondary-border: #e99700;
      --color-btn-secondary-hover-text: #ffffff;
      --color-btn-secondary-hover-background: #ffb121;
      --color-btn-secondary-hover-border: #ffb121;
    }
  }

  .theme-dark-blue {
    --color-text: #354c6d;
    --color-background: #ffffff;
    --color-header-background: #ffffff;
    --color-about-background: #e7eefa;
    --color-contact-background: #0a1e3d;
    --color-contact-text: #ffffff;
    --color-loading-segment: #1a3762;
    --color-loading-path: #ccd8eb;
    --color-link: #1a3762;
    --color-warning: #ad5c00;
    --color-error: #c72424;
    --color-error-light: #e9d6db;
    --color-success: #006b42;
    --color-success-light: #ccece0;
    --color-border: #8f9fb8;
    --color-highlight-text: #ffffff;
    --color-highlight-background: #112749;
    --color-highlight-light: #eff2f7;
    --color-background-hover: #e2eaf8;
    --color-btn-text: #1a3762;
    --color-btn-background: transparent;
    --color-btn-border: #1a3762;
    --color-btn-hover-text: #ffffff;
    --color-btn-hover-background: #1a3762;
    --color-btn-hover-border: #1a3762;
    --color-btn-disabled-text: #5f6e85;
    --color-btn-disabled-background: #dde1e7;
    --color-btn-disabled-border: #dde1e7;
    --color-btn-primary-text: #ffffff;
    --color-btn-primary-background: #1a3762;
    --color-btn-primary-border: #1a3762;
    --color-btn-primary-hover-text: #ffffff;
    --color-btn-primary-hover-background: #2353a0;
    --color-btn-primary-hover-border: #2353a0;
    --color-btn-secondary-text: #ad5c00;
    --color-btn-secondary-background: transparent;
    --color-btn-secondary-border: #ad5c00;
    --color-btn-secondary-hover-text: #ffffff;
    --color-btn-secondary-hover-background: #ad5c00;
    --color-btn-secondary-hover-border: #ad5c00;
    &-inverted {
      --color-text: #ffffff;
      --color-background: #1a3762;
      --color-header-background: #1a3762;
      --color-about-background: #20498b;
      --color-contact-background: #071b3a;
      --color-contact-text: #ffffff;
      --color-loading-segment: #3166b4;
      --color-loading-path: #ffbc02;
      --color-link: #ffffff;
      --color-warning: #ffbc02;
      --color-error: #fdcaca;
      --color-error-light: #e9d6db;
      --color-success: #5af062;
      --color-success-light: #ccece0;
      --color-border: #748eb6;
      --color-highlight-text: #ffffff;
      --color-highlight-background: #0f2546;
      --color-highlight-light: #2a5596;
      --color-background-hover: #2a5596;
      --color-btn-text: #ffffff;
      --color-btn-background: transparent;
      --color-btn-border: #ffffff;
      --color-btn-hover-text: #1a3762;
      --color-btn-hover-background: #ffffff;
      --color-btn-hover-border: #ffffff;
      --color-btn-disabled-text: #c2cedf;
      --color-btn-disabled-background: #94a3bd;
      --color-btn-disabled-border: #94a3bd;
      --color-btn-primary-text: #1a3762;
      --color-btn-primary-background: #ffffff;
      --color-btn-primary-border: #ffffff;
      --color-btn-primary-hover-text: #1a3762;
      --color-btn-primary-hover-background: #c9dcfc;
      --color-btn-primary-hover-border: #ffffff;
      --color-btn-secondary-text: #ffffff;
      --color-btn-secondary-background: #e99700;
      --color-btn-secondary-border: #e99700;
      --color-btn-secondary-hover-text: #ffffff;
      --color-btn-secondary-hover-background: #ffb121;
      --color-btn-secondary-hover-border: #ffb121;
    }
  }

  .theme-purple {
    --color-text: #5b2e5f;
    --color-background: #ffffff;
    --color-header-background: #ffffff;
    --color-about-background: #f6ebf7;
    --color-contact-background: #9e14aa;
    --color-contact-text: #ffffff;
    --color-loading-segment: #7B1884;
    --color-loading-path: #f3e5f5;
    --color-link: #7B1884;
    --color-warning: #ad8500;
    --color-error: #c72424;
    --color-error-light: #e9d6db;
    --color-success: #0d6d65;
    --color-success-light: #ccece0;
    --color-border: #b48cb8;
    --color-highlight-text: #ffffff;
    --color-highlight-background: #4a0a50;
    --color-highlight-light: #f1e6f1;
    --color-background-hover: #f7e5f8;
    --color-btn-text: #7B1884;
    --color-btn-background: transparent;
    --color-btn-border: #7B1884;
    --color-btn-hover-text: #ffffff;
    --color-btn-hover-background: #7B1884;
    --color-btn-hover-border: #7B1884;
    --color-btn-disabled-text: #5f6e85;
    --color-btn-disabled-background: #dde1e7;
    --color-btn-disabled-border: #dde1e7;
    --color-btn-primary-text: #ffffff;
    --color-btn-primary-background: #7B1884;
    --color-btn-primary-border: #7b1884;
    --color-btn-primary-hover-text: #ffffff;
    --color-btn-primary-hover-background: #4d0853;
    --color-btn-primary-hover-border: #4d0853;
    --color-btn-secondary-text: #0955b9;
    --color-btn-secondary-background: transparent;
    --color-btn-secondary-border: #0955b9;
    --color-btn-secondary-hover-text: #ffffff;
    --color-btn-secondary-hover-background: #0955b9;
    --color-btn-secondary-hover-border: #0955b9;
    &-inverted {
      --color-text: #ffffff;
      --color-background: #7B1884;
      --color-header-background: #7B1884;
      --color-about-background: #930aa0;
      --color-contact-background: #4f0955;
      --color-contact-text: #ffffff;
      --color-loading-segment: #4f0955;
      --color-loading-path: #ffbc02;
      --color-link: #ffffff;
      --color-warning: #ffbc02;
      --color-error: #fdcaca;
      --color-error-light: #e9d6db;
      --color-success: #79ee7f;
      --color-success-light: #ccece0;
      --color-border: #d98bdf;
      --color-highlight-text: #ffffff;
      --color-highlight-background: #4f0955;
      --color-highlight-light: #8f1d99;
      --color-background-hover: #600568;
      --color-btn-text: #ffffff;
      --color-btn-background: transparent;
      --color-btn-border: #ffffff;
      --color-btn-hover-text: #7B1884;
      --color-btn-hover-background: #ffffff;
      --color-btn-hover-border: #ffffff;
      --color-btn-disabled-text: #c2cedf;
      --color-btn-disabled-background: #94a3bd;
      --color-btn-disabled-border: #94a3bd;
      --color-btn-primary-text: #7B1884;
      --color-btn-primary-background: #ffffff;
      --color-btn-primary-border: #ffffff;
      --color-btn-primary-hover-text: #7B1884;
      --color-btn-primary-hover-background: #e9c1ee;
      --color-btn-primary-hover-border: #ffffff;
      --color-btn-secondary-text: #ffffff;
      --color-btn-secondary-background: #e99700;
      --color-btn-secondary-border: #e99700;
      --color-btn-secondary-hover-text: #ffffff;
      --color-btn-secondary-hover-background: #ffb121;
      --color-btn-secondary-hover-border: #ffb121;
    }
  }

  .theme-lilac {
    --color-text: #5b2e5f;
    --color-background: #ffffff;
    --color-header-background: #ffffff;
    --color-about-background: #f6ebf7;
    --color-contact-background: #9e14aa;
    --color-contact-text: #ffffff;
    --color-loading-segment: #BC1ECB;
    --color-loading-path: #f3e5f5;
    --color-link: #BC1ECB;
    --color-warning: #ad8500;
    --color-error: #c72424;
    --color-error-light: #e9d6db;
    --color-success: #0d6d65;
    --color-success-light: #ccece0;
    --color-border: #b48cb8;
    --color-highlight-text: #ffffff;
    --color-highlight-background: #4a0a50;
    --color-highlight-light: #f1e6f1;
    --color-background-hover: #f7e5f8;
    --color-btn-text: #BC1ECB;
    --color-btn-background: transparent;
    --color-btn-border: #BC1ECB;
    --color-btn-hover-text: #ffffff;
    --color-btn-hover-background: #BC1ECB;
    --color-btn-hover-border: #BC1ECB;
    --color-btn-disabled-text: #5f6e85;
    --color-btn-disabled-background: #dde1e7;
    --color-btn-disabled-border: #dde1e7;
    --color-btn-primary-text: #ffffff;
    --color-btn-primary-background: #BC1ECB;
    --color-btn-primary-border: #BC1ECB;
    --color-btn-primary-hover-text: #ffffff;
    --color-btn-primary-hover-background: #9e16aa;
    --color-btn-primary-hover-border: #9e16aa;
    --color-btn-secondary-text: #0955b9;
    --color-btn-secondary-background: transparent;
    --color-btn-secondary-border: #0955b9;
    --color-btn-secondary-hover-text: #ffffff;
    --color-btn-secondary-hover-background: #0955b9;
    --color-btn-secondary-hover-border: #0955b9;
    &-inverted {
      --color-text: #ffffff;
      --color-background: #BC1ECB;
      --color-header-background: #BC1ECB;
      --color-about-background: #930aa0;
      --color-contact-background: #4f0955;
      --color-contact-text: #ffffff;
      --color-loading-segment: #4f0955;
      --color-loading-path: #ffbc02;
      --color-link: #ffffff;
      --color-warning: #ffbc02;
      --color-error: #fdcaca;
      --color-error-light: #e9d6db;
      --color-success: #aaf3ae;
      --color-success-light: #ccece0;
      --color-border: #d98bdf;
      --color-highlight-text: #ffffff;
      --color-highlight-background: #4f0955;
      --color-highlight-light: #8f1d99;
      --color-background-hover: #780583;
      --color-btn-text: #ffffff;
      --color-btn-background: transparent;
      --color-btn-border: #ffffff;
      --color-btn-hover-text: #BC1ECB;
      --color-btn-hover-background: #ffffff;
      --color-btn-hover-border: #ffffff;
      --color-btn-disabled-text: #c2cedf;
      --color-btn-disabled-background: #94a3bd;
      --color-btn-disabled-border: #94a3bd;
      --color-btn-primary-text: #BC1ECB;
      --color-btn-primary-background: #ffffff;
      --color-btn-primary-border: #ffffff;
      --color-btn-primary-hover-text: #BC1ECB;
      --color-btn-primary-hover-background: #e9c1ee;
      --color-btn-primary-hover-border: #ffffff;
      --color-btn-secondary-text: #ffffff;
      --color-btn-secondary-background: #e99700;
      --color-btn-secondary-border: #e99700;
      --color-btn-secondary-hover-text: #ffffff;
      --color-btn-secondary-hover-background: #ffb121;
      --color-btn-secondary-hover-border: #ffb121;
    }
  }

  .theme-dark-red {
    --color-text: #201a19;
    --color-background: #ffffff;
    --color-header-background: #ffffff;
    --color-about-background: #fdecec;
    --color-contact-background: #4f0103;
    --color-contact-text: #ffffff;
    --color-loading-segment: #730204;
    --color-loading-path: #fdecec;
    --color-link: #730204;
    --color-warning: #ad8500;
    --color-error: #c72424;
    --color-error-light: #e9d6db;
    --color-success: #0d6d65;
    --color-success-light: #ccece0;
    --color-border: #d4c2c2;
    --color-highlight-text: #ffffff;
    --color-highlight-background: #4f0103;
    --color-highlight-light: #fdecec;
    --color-background-hover: #fdecec;
    --color-btn-text: #730204;
    --color-btn-background: transparent;
    --color-btn-border: #730204;
    --color-btn-hover-text: #ffffff;
    --color-btn-hover-background: #970305;
    --color-btn-hover-border: #970305;
    --color-btn-disabled-text: #5f6e85;
    --color-btn-disabled-background: #dde1e7;
    --color-btn-disabled-border: #dde1e7;
    --color-btn-primary-text: #ffffff;
    --color-btn-primary-background: #730204;
    --color-btn-primary-border: #730204;
    --color-btn-primary-hover-text: #ffffff;
    --color-btn-primary-hover-background: #730204;
    --color-btn-primary-hover-border: #730204;
    --color-btn-secondary-text: #b18200;
    --color-btn-secondary-background: transparent;
    --color-btn-secondary-border: #b18200;
    --color-btn-secondary-hover-text: #ffffff;
    --color-btn-secondary-hover-background: #b18200;
    --color-btn-secondary-hover-border: #b18200;
    &-inverted {
      --color-text: #ffffff;
      --color-background: #730204;
      --color-header-background: #730204;
      --color-about-background: #8f1416;
      --color-contact-background: #470001;
      --color-contact-text: #ffffff;
      --color-loading-segment: #470001;
      --color-loading-path: #fdce4c;
      --color-link: #ffffff;
      --color-warning: #fdce4c;
      --color-error: #fdcaca;
      --color-error-light: #e9d6db;
      --color-success: #79ee7f;
      --color-success-light: #ccece0;
      --color-border: #c28889;
      --color-highlight-text: #ffffff;
      --color-highlight-background: #470001;
      --color-highlight-light: #8f1517;
      --color-background-hover: #8f1517;
      --color-btn-text: #ffffff;
      --color-btn-background: transparent;
      --color-btn-border: #ffffff;
      --color-btn-hover-text: #730204;
      --color-btn-hover-background: #ffffff;
      --color-btn-hover-border: #ffffff;
      --color-btn-disabled-text: #c2cedf;
      --color-btn-disabled-background: #94a3bd;
      --color-btn-disabled-border: #94a3bd;
      --color-btn-primary-text: #730204;
      --color-btn-primary-background: #ffffff;
      --color-btn-primary-border: #ffffff;
      --color-btn-primary-hover-text: #730204;
      --color-btn-primary-hover-background: #f7d7d8;
      --color-btn-primary-hover-border: #ffffff;
      --color-btn-secondary-text: #ffffff;
      --color-btn-secondary-background: #e99700;
      --color-btn-secondary-border: #e99700;
      --color-btn-secondary-hover-text: #ffffff;
      --color-btn-secondary-hover-background: #ffb121;
      --color-btn-secondary-hover-border: #ffb121;
    }
  }

  .theme-light-red {
    --color-text: #9e0508;
    --color-background: #ffffff;
    --color-header-background: #ffffff;
    --color-about-background: #fdecec;
    --color-contact-background: #a7080a;
    --color-contact-text: #ffffff;
    --color-loading-segment: #DF1D20;
    --color-loading-path: #fdecec;
    --color-link: #DF1D20;
    --color-warning: #eba000;
    --color-error: #DF1D20;
    --color-error-light: #e9d6db;
    --color-success: #58810c;
    --color-success-light: #ddeccc;
    --color-border: #ff8484;
    --color-highlight-text: #ffffff;
    --color-highlight-background: #DF1D20;
    --color-highlight-light: #fdecec;
    --color-background-hover: #fdecec;
    --color-btn-text: #DF1D20;
    --color-btn-background: transparent;
    --color-btn-border: #DF1D20;
    --color-btn-hover-text: #ffffff;
    --color-btn-hover-background: #DF1D20;
    --color-btn-hover-border: #DF1D20;
    --color-btn-disabled-text: #5f6e85;
    --color-btn-disabled-background: #dde1e7;
    --color-btn-disabled-border: #dde1e7;
    --color-btn-primary-text: #ffffff;
    --color-btn-primary-background: #DF1D20;
    --color-btn-primary-border: #DF1D20;
    --color-btn-primary-hover-text: #ffffff;
    --color-btn-primary-hover-background: #b71c1c;
    --color-btn-primary-hover-border: #b71c1c;
    --color-btn-secondary-text: #70ad00;
    --color-btn-secondary-background: transparent;
    --color-btn-secondary-border: #70ad00;
    --color-btn-secondary-hover-text: #ffffff;
    --color-btn-secondary-hover-background: #70ad00;
    --color-btn-secondary-hover-border: #70ad00;
    &-inverted {
      --color-text: #ffffff;
      --color-background: #DF1D20;
      --color-header-background: #DF1D20;
      --color-about-background: #b71c1c;
      --color-contact-background: #a31517;
      --color-contact-text: #ffffff;
      --color-loading-segment: #a31517;
      --color-loading-path: #fdce4c;
      --color-link: #ffffff;
      --color-warning: #fdce4c;
      --color-error: #fdcaca;
      --color-error-light: #e9d6db;
      --color-success: #aeee79;
      --color-success-light: #ddeccc;
      --color-border: #e9abac;
      --color-highlight-text: #ffffff;
      --color-highlight-background: #a31517;
      --color-highlight-light: #b71c1c;
      --color-background-hover: #b71c1c;
      --color-btn-text: #ffffff;
      --color-btn-background: transparent;
      --color-btn-border: #ffffff;
      --color-btn-hover-text: #DF1D20;
      --color-btn-hover-background: #ffffff;
      --color-btn-hover-border: #ffffff;
      --color-btn-disabled-text: #c2cedf;
      --color-btn-disabled-background: #94a3bd;
      --color-btn-disabled-border: #94a3bd;
      --color-btn-primary-text: #DF1D20;
      --color-btn-primary-background: #ffffff;
      --color-btn-primary-border: #ffffff;
      --color-btn-primary-hover-text: #DF1D20;
      --color-btn-primary-hover-background: #f7d7d8;
      --color-btn-primary-hover-border: #ffffff;
      --color-btn-secondary-text: #ffffff;
      --color-btn-secondary-background: #609619;
      --color-btn-secondary-border: #609619;
      --color-btn-secondary-hover-text: #ffffff;
      --color-btn-secondary-hover-background: #47740c;
      --color-btn-secondary-hover-border: #47740c;
    }
  }

  .theme-brown {
    --color-text: #532d01;
    --color-background: #ffffff;
    --color-header-background: #ffffff;
    --color-about-background: #f7e7d3;
    --color-contact-background: #733E02;
    --color-contact-text: #ffffff;
    --color-loading-segment: #733E02;
    --color-loading-path: #f7e7d3;
    --color-link: #733E02;
    --color-warning: #eba000;
    --color-error: #733E02;
    --color-error-light: #e9d6db;
    --color-success: #58810c;
    --color-success-light: #ddeccc;
    --color-border: #c2a48a;
    --color-highlight-text: #ffffff;
    --color-highlight-background: #733E02;
    --color-highlight-light: #f7e7d3;
    --color-background-hover: #fff1e0;
    --color-btn-text: #733E02;
    --color-btn-background: transparent;
    --color-btn-border: #733E02;
    --color-btn-hover-text: #ffffff;
    --color-btn-hover-background: #733E02;
    --color-btn-hover-border: #733E02;
    --color-btn-disabled-text: #5f6e85;
    --color-btn-disabled-background: #dde1e7;
    --color-btn-disabled-border: #dde1e7;
    --color-btn-primary-text: #ffffff;
    --color-btn-primary-background: #733E02;
    --color-btn-primary-border: #733E02;
    --color-btn-primary-hover-text: #ffffff;
    --color-btn-primary-hover-background: #4d2901;
    --color-btn-primary-hover-border: #4d2901;
    --color-btn-secondary-text: #70ad00;
    --color-btn-secondary-background: transparent;
    --color-btn-secondary-border: #70ad00;
    --color-btn-secondary-hover-text: #ffffff;
    --color-btn-secondary-hover-background: #70ad00;
    --color-btn-secondary-hover-border: #70ad00;
    &-inverted {
      --color-text: #ffffff;
      --color-background: #733E02;
      --color-header-background: #733E02;
      --color-about-background: #4d2901;
      --color-contact-background: #a36b2c;
      --color-contact-text: #ffffff;
      --color-loading-segment: #a36b2c;
      --color-loading-path: #fdce4c;
      --color-link: #ffffff;
      --color-warning: #fdce4c;
      --color-error: #fdcaca;
      --color-error-light: #e9d6db;
      --color-success: #79ee7f;
      --color-success-light: #ccece0;
      --color-border: #c28889;
      --color-highlight-text: #ffffff;
      --color-highlight-background: #a36b2c;
      --color-highlight-light: #4d2901;
      --color-background-hover: #4d2901;
      --color-btn-text: #ffffff;
      --color-btn-background: transparent;
      --color-btn-border: #ffffff;
      --color-btn-hover-text: #733E02;
      --color-btn-hover-background: #ffffff;
      --color-btn-hover-border: #ffffff;
      --color-btn-disabled-text: #c2cedf;
      --color-btn-disabled-background: #94a3bd;
      --color-btn-disabled-border: #94a3bd;
      --color-btn-primary-text: #733E02;
      --color-btn-primary-background: #ffffff;
      --color-btn-primary-border: #ffffff;
      --color-btn-primary-hover-text: #733E02;
      --color-btn-primary-hover-background: #f7e7d3;
      --color-btn-primary-hover-border: #ffffff;
      --color-btn-secondary-text: #ffffff;
      --color-btn-secondary-background: #e99700;
      --color-btn-secondary-border: #e99700;
      --color-btn-secondary-hover-text: #ffffff;
      --color-btn-secondary-hover-background: #ffb121;
      --color-btn-secondary-hover-border: #ffb121;
    }
  }

  .theme-orange {
    --color-text: #7c4e19;
    --color-background: #ffffff;
    --color-header-background: #ffffff;
    --color-about-background: #fff3e0;
    --color-contact-background: #b46000;
    --color-contact-text: #ffffff;
    --color-loading-segment: #E87C00;
    --color-loading-path: #fff3e0;
    --color-link: #E87C00;
    --color-warning: #ad8500;
    --color-error: #E87C00;
    --color-error-light: #ffe0b2;
    --color-success: #628502;
    --color-success-light: #ddeccc;
    --color-border: #e8b47c;
    --color-highlight-text: #ffffff;
    --color-highlight-background: #E87C00;
    --color-highlight-light: #fff3e0;
    --color-background-hover: #fff3e0;
    --color-btn-text: #E87C00;
    --color-btn-background: transparent;
    --color-btn-border: #E87C00;
    --color-btn-hover-text: #ffffff;
    --color-btn-hover-background: #E87C00;
    --color-btn-hover-border: #E87C00;
    --color-btn-disabled-text: #5f6e85;
    --color-btn-disabled-background: #dde1e7;
    --color-btn-disabled-border: #dde1e7;
    --color-btn-primary-text: #ffffff;
    --color-btn-primary-background: #E87C00;
    --color-btn-primary-border: #E87C00;
    --color-btn-primary-hover-text: #ffffff;
    --color-btn-primary-hover-background: #b35c00;
    --color-btn-primary-hover-border: #b35c00;
    --color-btn-secondary-text: #ad5c00;
    --color-btn-secondary-background: transparent;
    --color-btn-secondary-border: #ad5c00;
    --color-btn-secondary-hover-text: #ffffff;
    --color-btn-secondary-hover-background: #ad5c00;
    --color-btn-secondary-hover-border: #ad5c00;
    &-inverted {
      --color-text: #ffffff;
      --color-background: #E87C00;
      --color-header-background: #E87C00;
      --color-about-background: #db6300;
      --color-contact-background: #c45800;
      --color-contact-text: #ffffff;
      --color-loading-segment: #ce6300;
      --color-loading-path: #ffb71c;
      --color-link: #ffffff;
      --color-warning: #fdce4c;
      --color-error: #ffefef;
      --color-error-light: #ffe0b2;
      --color-success: #b7ee79;
      --color-success-light: #deeccc;
      --color-border: #e8b47c;
      --color-highlight-text: #ffffff;
      --color-highlight-background: #c9660a;
      --color-highlight-light: #b35c00;
      --color-background-hover: #b35c00;
      --color-btn-text: #ffffff;
      --color-btn-background: transparent;
      --color-btn-border: #ffffff;
      --color-btn-hover-text: #E87C00;
      --color-btn-hover-background: #ffffff;
      --color-btn-hover-border: #ffffff;
      --color-btn-disabled-text: #c2cedf;
      --color-btn-disabled-background: #94a3bd;
      --color-btn-disabled-border: #94a3bd;
      --color-btn-primary-text: #E87C00;
      --color-btn-primary-background: #ffffff;
      --color-btn-primary-border: #ffffff;
      --color-btn-primary-hover-text: #E87C00;
      --color-btn-primary-hover-background: #ffe0b2;
      --color-btn-primary-hover-border: #ffffff;
      --color-btn-secondary-text: #ffffff;
      --color-btn-secondary-background: #e99700;
      --color-btn-secondary-border: #e99700;
      --color-btn-secondary-hover-text: #ffffff;
      --color-btn-secondary-hover-background: #ffb121;
      --color-btn-secondary-hover-border: #ffb121;
    }
  }

  .theme-dark-green {
    --color-text: #616107;
    --color-background: #ffffff;
    --color-header-background: #ffffff;
    --color-about-background: #f3f7e0;
    --color-contact-background: #616107;
    --color-contact-text: #ffffff;
    --color-loading-segment: #616107;
    --color-loading-path: #bdd63c;
    --color-link: #616107;
    --color-warning: #ad8500;
    --color-error: #c20000;
    --color-error-light: #e9dcd6;
    --color-success: #6b9200;
    --color-success-light: #deeccc;
    --color-border: #bfc28a;
    --color-highlight-text: #ffffff;
    --color-highlight-background: #616107;
    --color-highlight-light: #f3f7e0;
    --color-background-hover: #f3f7e0;
    --color-btn-text: #616107;
    --color-btn-background: transparent;
    --color-btn-border: #616107;
    --color-btn-hover-text: #ffffff;
    --color-btn-hover-background: #616107;
    --color-btn-hover-border: #616107;
    --color-btn-disabled-text: #5f6e85;
    --color-btn-disabled-background: #dde1e7;
    --color-btn-disabled-border: #dde1e7;
    --color-btn-primary-text: #ffffff;
    --color-btn-primary-background: #616107;
    --color-btn-primary-border: #616107;
    --color-btn-primary-hover-text: #ffffff;
    --color-btn-primary-hover-background: #454501;
    --color-btn-primary-hover-border: #454501;
    --color-btn-secondary-text: #ca5100;
    --color-btn-secondary-background: transparent;
    --color-btn-secondary-border: #ca5100;
    --color-btn-secondary-hover-text: #ffffff;
    --color-btn-secondary-hover-background: #ca5100;
    --color-btn-secondary-hover-border: #ca5100;
    &-inverted {
      --color-text: #ffffff;
      --color-background: #616107;
      --color-header-background: #616107;
      --color-about-background: #454501;
      --color-contact-background: #a3a32c;
      --color-contact-text: #ffffff;
      --color-loading-segment: #8b8b1a;
      --color-loading-path: #f8f86f;
      --color-link: #ffffff;
      --color-warning: #fdce4c;
      --color-error: #fdcaca;
      --color-error-light: #e9d6db;
      --color-success: #b1ee79;
      --color-success-light: #d8eccc;
      --color-border: #c2c288;
      --color-highlight-text: #ffffff;
      --color-highlight-background: #a3a32c;
      --color-highlight-light: #454501;
      --color-background-hover: #555500;
      --color-btn-text: #ffffff;
      --color-btn-background: transparent;
      --color-btn-border: #ffffff;
      --color-btn-hover-text: #616107;
      --color-btn-hover-background: #ffffff;
      --color-btn-hover-border: #ffffff;
      --color-btn-disabled-text: #c2cedf;
      --color-btn-disabled-background: #94a3bd;
      --color-btn-disabled-border: #94a3bd;
      --color-btn-primary-text: #616107;
      --color-btn-primary-background: #ffffff;
      --color-btn-primary-border: #ffffff;
      --color-btn-primary-hover-text: #616107;
      --color-btn-primary-hover-background: #f3f7e0;
      --color-btn-primary-hover-border: #ffffff;
      --color-btn-secondary-text: #ffffff;
      --color-btn-secondary-background: #e99700;
      --color-btn-secondary-border: #e99700;
      --color-btn-secondary-hover-text: #ffffff;
      --color-btn-secondary-hover-background: #ffb121;
      --color-btn-secondary-hover-border: #ffb121;
    }
  }

  .theme-light-green {
    --color-text: #246314;
    --color-background: #ffffff;
    --color-header-background: #ffffff;
    --color-about-background: #eaf7e0;
    --color-contact-background: #2c631f;
    --color-contact-text: #ffffff;
    --color-loading-segment: #448B32;
    --color-loading-path: #d8f8bf;
    --color-link: #448B32;
    --color-warning: #ad8500;
    --color-error: #b12208;
    --color-error-light: #e9d6db;
    --color-success: #336d0d;
    --color-success-light: #d1eccc;
    --color-border: #b2d3b2;
    --color-highlight-text: #ffffff;
    --color-highlight-background: #448B32;
    --color-highlight-light: #eaf7e0;
    --color-background-hover: #eaf7e0;
    --color-btn-text: #448B32;
    --color-btn-background: transparent;
    --color-btn-border: #448B32;
    --color-btn-hover-text: #ffffff;
    --color-btn-hover-background: #448B32;
    --color-btn-hover-border: #448B32;
    --color-btn-disabled-text: #5f6e85;
    --color-btn-disabled-background: #dde1e7;
    --color-btn-disabled-border: #dde1e7;
    --color-btn-primary-text: #ffffff;
    --color-btn-primary-background: #448B32;
    --color-btn-primary-border: #448B32;
    --color-btn-primary-hover-text: #ffffff;
    --color-btn-primary-hover-background: #2c5c1f;
    --color-btn-primary-hover-border: #2c5c1f;
    --color-btn-secondary-text: #f07604;
    --color-btn-secondary-background: transparent;
    --color-btn-secondary-border: #f07604;
    --color-btn-secondary-hover-text: #ffffff;
    --color-btn-secondary-hover-background: #f07604;
    --color-btn-secondary-hover-border: #f07604;
    &-inverted {
      --color-text: #ffffff;
      --color-background: #448B32;
      --color-header-background: #448B32;
      --color-about-background: #2c5c1f;
      --color-contact-background: #6bbf47;
      --color-contact-text: #ffffff;
      --color-loading-segment: #6bbf47;
      --color-loading-path: #fdce4c;
      --color-link: #ffffff;
      --color-warning: #fdce4c;
      --color-error: #fdcaca;
      --color-error-light: #e9d6db;
      --color-success: #79ee7f;
      --color-success-light: #ccece0;
      --color-border: #94d694;
      --color-highlight-text: #ffffff;
      --color-highlight-background: #6bbf47;
      --color-highlight-light: #2c5c1f;
      --color-background-hover: #366e26;
      --color-btn-text: #ffffff;
      --color-btn-background: transparent;
      --color-btn-border: #ffffff;
      --color-btn-hover-text: #448B32;
      --color-btn-hover-background: #ffffff;
      --color-btn-hover-border: #ffffff;
      --color-btn-disabled-text: #c2cedf;
      --color-btn-disabled-background: #94a3bd;
      --color-btn-disabled-border: #94a3bd;
      --color-btn-primary-text: #448B32;
      --color-btn-primary-background: #ffffff;
      --color-btn-primary-border: #ffffff;
      --color-btn-primary-hover-text: #448B32;
      --color-btn-primary-hover-background: #eaf7e0;
      --color-btn-primary-hover-border: #ffffff;
      --color-btn-secondary-text: #ffffff;
      --color-btn-secondary-background: #e99700;
      --color-btn-secondary-border: #e99700;
      --color-btn-secondary-hover-text: #ffffff;
      --color-btn-secondary-hover-background: #ffb121;
      --color-btn-secondary-hover-border: #ffb121;
    }
  }

  .theme-petroleum {
    --color-text: #0f4941;
    --color-background: #ffffff;
    --color-header-background: #ffffff;
    --color-about-background: #dfedf0;
    --color-contact-background: #0b4942;
    --color-contact-text: #ffffff;
    --color-loading-segment: #196057;
    --color-loading-path: #a6ddd6;
    --color-link: #196057;
    --color-warning: #ad8500;
    --color-error: #a50909;
    --color-error-light: #f3dbd9;
    --color-success: #0d6d65;
    --color-success-light: #ccece0;
    --color-border: #7bb6b2;
    --color-highlight-text: #ffffff;
    --color-highlight-background: #196057;
    --color-highlight-light: #e1f1f5;
    --color-background-hover: #e0f3f7;
    --color-btn-text: #196057;
    --color-btn-background: transparent;
    --color-btn-border: #196057;
    --color-btn-hover-text: #ffffff;
    --color-btn-hover-background: #196057;
    --color-btn-hover-border: #196057;
    --color-btn-disabled-text: #5f6e85;
    --color-btn-disabled-background: #dde1e7;
    --color-btn-disabled-border: #dde1e7;
    --color-btn-primary-text: #ffffff;
    --color-btn-primary-background: #196057;
    --color-btn-primary-border: #196057;
    --color-btn-primary-hover-text: #ffffff;
    --color-btn-primary-hover-background: #13494a;
    --color-btn-primary-hover-border: #13494a;
    --color-btn-secondary-text: #f07604;
    --color-btn-secondary-background: transparent;
    --color-btn-secondary-border: #f07604;
    --color-btn-secondary-hover-text: #ffffff;
    --color-btn-secondary-hover-background: #f07604;
    --color-btn-secondary-hover-border: #f07604;
    &-inverted {
      --color-text: #ffffff;
      --color-background: #196057;
      --color-header-background: #196057;
      --color-about-background: #13494a;
      --color-contact-background: #2c6b6b;
      --color-contact-text: #ffffff;
      --color-loading-segment: #174e4e;
      --color-loading-path: #fdce4c;
      --color-link: #ffffff;
      --color-warning: #fdce4c;
      --color-error: #fdcaca;
      --color-error-light: #e9d6db;
      --color-success: #79ee7f;
      --color-success-light: #ccece0;
      --color-border: #7bb6b2;
      --color-highlight-text: #ffffff;
      --color-highlight-background: #2c6b6b;
      --color-highlight-light: #13494a;
      --color-background-hover: #13494a;
      --color-btn-text: #ffffff;
      --color-btn-background: transparent;
      --color-btn-border: #ffffff;
      --color-btn-hover-text: #196057;
      --color-btn-hover-background: #ffffff;
      --color-btn-hover-border: #ffffff;
      --color-btn-disabled-text: #c2cedf;
      --color-btn-disabled-background: #94a3bd;
      --color-btn-disabled-border: #94a3bd;
      --color-btn-primary-text: #196057;
      --color-btn-primary-background: #ffffff;
      --color-btn-primary-border: #ffffff;
      --color-btn-primary-hover-text: #196057;
      --color-btn-primary-hover-background: #e0f3f7;
      --color-btn-primary-hover-border: #ffffff;
      --color-btn-secondary-text: #ffffff;
      --color-btn-secondary-background: #e99700;
      --color-btn-secondary-border: #e99700;
      --color-btn-secondary-hover-text: #ffffff;
      --color-btn-secondary-hover-background: #ffb121;
      --color-btn-secondary-hover-border: #ffb121;
    }
  }

}
