.container {
  text-align: center;
  padding-bottom: 64px;
  .error-image {
    max-width: 100%;
    height: 218px;
    object-fit: cover;
    margin: 64px auto 32px auto;
  }
  h1 {
    font-size: 36px;
  }
  .error-message {
    font-size: 20px;
    margin-bottom: 64px;
  }
  p {
    max-width: 640px;
    margin: 24px auto;
  }
}

@media (max-width: 980px) {
  .container {
    .error-image {
      max-width: calc(100% + 64px);
      margin-left: -32px;
      margin-right: -32px;
    }
  }
}

@media (max-width: 767px) {
  .container {
    .error-image {
      max-width: calc(100% + 32px);
      margin: 32px -16px 16px -16px;
    }
  }
}
