@if (error) {
  <app-error [errorType]="'company'"></app-error>
} @else {

  <div [class]="'theme-' + theme() + (colorType() ? '-inverted' : '')" class="page">
    <a id="home" class="anchor" aria-label="Início"></a>

    <app-header [company]="company()" [services]="services()"></app-header>

    @if (company().site_setup?.showImageHighlight && (company().site_setup?.imageHighlight || company().site_setup?.textHighlight)) {
      <section class="highlight">
        @if (company().site_setup.textHighlight) {
          <div class="highlight-text" [class]="{ 'without-image': !company().site_setup.imageHighlight }">
            <div class="container">
              <strong>{{ company().site_setup.textHighlight }}</strong>
            </div>
          </div>
        }
        @if (company().site_setup.imageHighlight) {
          <img
            [ngSrc]="company().site_setup.imageHighlight"
            [alt]="company().site_setup.textHighlight"
            width="1920"
            height="1080"
            priority
            sizes="100vw"
          />
        }
      </section>
    }

    @if (services().length > 0 && company().site_setup?.showServices) {
      <div class="container">
        <a id="services" class="anchor" aria-label="Serviços"></a>
        <section class="services-list">
          <div class="services-list-header">
            <h2>Serviços</h2>
          </div>
          <ul>
            @for (service of services(); track $index) {
              <li>
                <a [routerLink]="['/servico', service.id]">
                  <span class="services-list-content">
                    <strong>{{ service.name }}</strong>
                    @if (service.description) {
                      <span class="services-list-description">{{ service.description }}</span>
                    }
                    @if (service.price && service.show_price_in_site && company().site_setup?.showPriceServices) {
                      <span class="services-list-price">{{ service.price | currency: 'BRL' }}</span>
                    }
                  </span>
                  <span class="services-list-more">
                    Saiba mais
                    <svg viewBox="0 0 8 12" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.99984 0L0.589844 1.41L5.16984 6L0.589844 10.59L1.99984 12L7.99984 6L1.99984 0Z"/>
                    </svg>
                  </span>
                </a>
              </li>
            }
          </ul>
        </section>
      </div>
    }


    <section class="about-us">
      <a id="about" class="anchor" aria-label="Sobre nós"></a>
      <div class="container">
        <h2>Sobre nós</h2>
        <div class="about-us-content">
          <p class="about-us-description">{{ company().description }}</p>
          @if (company().phone!.length > 10) {
            <p class="about-us-phone">Telefone (Whatsapp): <strong>{{ company().phone | mask: '(00) 00000-0000' }}</strong></p>
          } @else {
            <p class="about-us-phone">Telefone (Whatsapp): <strong>{{ company().phone | mask: '(00) 0000-0000' }}</strong></p>
          }
          @for (place of places(); track $index) {
            <div class="about-us-place">
              <p>
                @if (place.street) {
                  {{ place.street }},
                }
                @if (place.number) {
                  {{ place.number }} -
                }
                @if (place.complement) {
                  {{ place.complement }} -
                }
                @if (place.neighborhood) {
                  {{ place.neighborhood }} -
                }
                @if (place.city) {
                  {{ place.city }} -
                }
                @if (place.state) {
                  {{ place.state }} -
                }
                @if (place.cep) {
                  CEP: {{ place.cep | mask: '00000-000' }}
                }
              </p>
            </div>
          }

          @if (company().site_setup?.showMap && mapUrl && showMapInFront()) {
            <iframe
              [src]="mapUrl"
              title="Mapa de localização"
              allowfullscreen
              loading="lazy"
              class="about-us-map"
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          }

          @if (openingHours()) {
            <h3>Horário de funcionamento</h3>
            <table class="about-us-opening-hours">
              <thead>
                <tr>
                  <th>Dia</th>
                  <th>Horário</th>
                </tr>
              <tbody>
                @for (day of days; track day) {
                  <tr>
                    <td>{{ openingHours()[day].name }}</td>
                    <td>
                      @if (openingHours()[day].active) {
                        @for (item of openingHours()[day].intervals; track $index) {
                          <span>{{ item.start }} - {{ item.end }}</span>
                        }
                      } @else {
                        <span>Fechado</span>
                      }
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          }
        </div>
      </div>
    </section>

    <app-contact [company]="company()"></app-contact>

    <app-footer></app-footer>

    <app-whatsapp [company]="company()"></app-whatsapp>

  </div>

}
